{% extends "base.html" %}
{% load static %}
{% block generic %}
    <body>
    <div class="grid-container full main-wrap">
        <main class="signup signing">
            <div class="signup-wrapper login-on">
                <div class="grid-x">

                    <div class="small-12 cell signup-inner">
                        <form class=" identity-form" method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="form-header">
                                <div class="form-header-icon">
                                    <img src="{% static 'images/face-scan.svg' %}" alt="">
                                </div>
                                <div class="form-header-title">
                                    <h2>ورود به حساب کاربری</h2>

                                   {% block messages %}
                                       {% include 'message.html' %}
                                       {% endblock messages %}


                                </div>
                            </div>
                            <div class="grid-x">
                                <div class="small-12  padding-left-05">
                                    <div class="floated-label-wrapper">
                                        <label for="full-name">نام کاربری</label>
                                        <input type="text" id="full-name" name="username" placeholder="نام کاربری">
                                    </div>
                                    <div class="floated-label-wrapper">
                                        <label for="full-name">رمزعبور</label>
                                        <input type="password" id="full-name" name="password" placeholder="رمزعبور">
                                    </div>

                                </div>

                            </div>
                            <input class="button submit-btn" type="submit" value="ورود به حساب">
                        </form>
                        <div class="link-to-login">
                            <p>
                                هنوز ثبت نام نکرده اید؟
                                <a href="{% url 'signup' %}"> از اینجا شروع کنید </a>
                            </p>
                            <a href="{% url 'password_reset' %}" class="dotted-link">رمز عبور را فراموش کرده اید؟</a>
                        </div>

                    </div>

                </div>
            </div>
        </main>
    </div>

                <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/vendor/what-input.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>


    </body>
{% endblock generic %}