{% extends "base.html" %}
{% load static %}
{% block generic %}
    <body>
    <div class="grid-container full main-wrap">
        <main class="signup signing">
            <div class="signup-wrapper login-on">
                <div class="grid-x">
                    <p>
                        {% block messages %}
                            {% if messages %}
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            {% endif %}
                        {% endblock messages %}
                    </p>

                    <div class="small-12 cell signup-inner">
                        <form class=" identity-form" method="post">
                            {% csrf_token %}
                            <div class="form-header">
                                <div class="form-header-icon">
                                    <img src="{% static 'images/face-scan.svg' %}" alt="">
                                </div>
                                <div class="form-header-title">
                                    <h2>بازیابی رمز عبور</h2>


                                    <div class="grid-x">
                                        <div class="small-12 large-6 padding-left-05">
                                            <div class="floated-label-wrapper">
                                                <label for="repass">رمزعبور جدید</label>
                                                <input type="password" id="repass" name="new_password1"
                                                       placeholder="رمزعبور جدید"
                                                       tabindex="7">
                                            </div>

                                        </div>
                                        <div class="floated-label-wrapper">
                                            <label for="pass"> تکرار رمزعبور جدید</label>
                                            <input type="password" id="pass" name="new_password2"
                                                   placeholder="تکرار رمزعبور جدید"
                                                   tabindex="8">
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <input type="hidden" name="next" value="/"/>
                            <input class="button submit-btn" type="submit" value="تغییر رمز عبور">
                        </form>


                    </div>

                </div>
            </div>
        </main>
    </div>

    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/vendor/what-input.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>


    </body>
{% endblock generic %}





