{% extends "base.html" %}
{% load static %}
{% block generic %}
    <body>
    <div class="grid-container full main-wrap">
        <main class="signup signing">
            <div class="signup-wrapper login-on">
                <div class="grid-x">

                    <div class="small-12 cell signup-inner">
                        <form class=" identity-form" method="post" >
                            {% csrf_token %}
                            <div class="form-header">
                                <div class="form-header-icon">
                                    <img src="{% static 'images/face-scan.svg' %}" alt="">
                                </div>
                                <div class="form-header-title">
                                    <h2>بازیابی رمز عبور</h2>

                                     {% block messages %}
                                       {% include 'message.html' %}
                                       {% endblock messages %}


                                </div>
                            </div>
                            <div class="grid-x">
                                <div class="small-12  padding-left-05">
                                    <div class="floated-label-wrapper">
                                        <label for="email">ایمیل</label>
                                        <input type="email" id="email" name="email" placeholder="ایمیل">
                                    </div>


                                </div>

                            </div>
                        <input type="hidden" name="next" value="/"/>
                            <input class="button submit-btn" type="submit" value="بازیابی">
                        </form>


                    </div>

                </div>
            </div>
        </main>
    </div>

                <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/vendor/what-input.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>


    </body>
{% endblock generic %}