{% extends 'generic.html' %}
{% load static %}
{% block content %}
    <section class="forms">
        <div class="grid-x">
            <div class="cell">
                <div class="widget-box with-padding">
                    <form class="signup identity-form" method="post">
                        {% csrf_token %}
                        <div class="form-header">
                            <div class="form-header-icon">
                                <img src="{% static 'images/face-scan.svg' %}" alt="">
                            </div>
                            <div class="form-header-title">
                                <h2>تغییر رمز عبور</h2>
                            </div>
                        </div>

                        <div class="grid-x">
                            <div class="small-12 large-6 padding-left-05">
                                <div class="floated-label-wrapper">
                                    <label for="repass">رمزعبور فعلی</label>
                                    <input type="password" id="repass" name="old_password" placeholder="رمزعبور فعلی"
                                           tabindex="7">
                                </div>
                        </div>
                        <div class="grid-x">
                            <div class="small-12 large-6 padding-left-05">
                                <div class="floated-label-wrapper">
                                    <label for="repass">رمزعبور جدید</label>
                                    <input type="password" id="repass" name="new_password1" placeholder="رمزعبور جدید"
                                           tabindex="7">
                                </div>

                            </div>
                            <div class="floated-label-wrapper">
                                <label for="pass"> تکرار رمزعبور جدید</label>
                                <input type="password" id="pass" name="new_password2" placeholder="تکرار رمزعبور جدید"
                                       tabindex="8">
                            </div>
                        </div>
                        <div></div>
                <input class="button submit-btn expanded" type="submit" value="ویرایش">
                </form>
            </div>
        </div>
        </div>
    </section>
{% endblock content %}